# auth config files
config_auth/*.ini
config_app/personal.ini

# PyCharm files
.idea/**

# OSX Files
.DS_Store

# IPython Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.idea/

# pycache
code/__pycache__/*.*
code/__pycache__/

# Virtual Environment
env/*

# Microsoft stuff
report/*.docx