# auth config files
config_auth/*.ini
config_app/personal.ini

# PyCharm files
.idea/**

# OSX Files
.DS_Store

# IPython Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.idea/

# pycache
code/__pycache__/*.*
webapp/bot/__pycache__/*.*
webapp/jiakbot/__pycache__/*.*
webapp/webapp/__pycache__/*.*

# Virtual Environment
env/*

# Microsoft stuff
# report/*.docx
